/* elements */

.devs text {
    text-transform: uppercase;
    font-weight: 800;
}

.devs .body {
    fill: #ffffff;
    stroke: #00d2c6;
    stroke-width: 6px;
}

.devs .label {
    fill: #00d2c6;
    font-size: 16px;
}

.devs .port-body {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: #7c68fc;
}

.devs .port-body:hover {
    opacity: 1;
    fill: #ff7e5d;
}

.devs .port-label {
    fill: #7c68fc;
}

.devs.Atomic .body {
    stroke: #ffb176;
}

.devs.Atomic .label {
    fill: #ffb176;
}

/* links */

.link .connection {
    stroke: #212135;
    stroke-width: 4px;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #696b87;
}

.link-tools .tool-remove circle {
    fill: #ff7e5d;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke: #ff7e5d;
    transition: stroke 1s;
}

.devs.highlighted-parent .label {
    fill: #ff7e5d;
    transition: fill 1s;
    text-decoration: underline;
}

