/* port styling */
.available-magnet {
    fill: yellow;
}
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #2F3129;
}
td {
    padding: 0px;
}
/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}
#editor {
}
#graph {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#table {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-spacing: 0px;
}
#headerCell {
    height: 64px;
}
#editorCell {
    width: 400px;
    min-width: 400px;
}
#controlCell {
    height: 64px;
}
#load {
}
#clear {
}