html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #272822;
}
#container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
#editor {
    flex: 1;
}
#content {
    flex: 2;
}


/*#control {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 96px;*/
    /*width: 400px;*/
/*}*/
/*.control {*/
    /*color: #F8F8F2 !important;*/
/*}*/
/*.control-row {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*padding: 8px;*/
/*}*/
/*.control-switch {*/
    /*width: auto !important;*/
/*}*/
/*button.control {*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
/*}*/
/*#editor {*/
    /*position: absolute;*/
    /*margin: 0;*/
    /*top: 72px;*/
    /*bottom: 96px;*/
    /*left: 0;*/
    /*width: 400px;*/
/*}*/
/*#content {*/
    /*position: absolute;*/
    /*margin: 0;*/
    /*top: 64px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 400px;*/
/*}*/