html, body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}
#control {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    z-index: 1000;
}
#editor {
    position: absolute;
    margin: 0;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 400px;
}
#content {
    position: absolute;
    margin: 0;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 400px;
}
.ace-syntax-error {
  position: absolute;
  border-radius: 3px;
  background: rgba(255,0,0,0.7);
}
