<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>Module Manager</title>
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link href="../static/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="content" id="content"></div>
        <script src="../static/js/main.js"></script>
    </body>
</html>
